</div>
</div>
<% include ./footer.ejs %>
<div class="control-sidebar-bg"></div>
</div>
<!-- /.content-wrapper -->

<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
immediately after the control sidebar -->
</div>
<% include ./footer_javascript.ejs %> 
