<!-- search form -->
 <form action="/search_data" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
    </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
  
    <li class="active">
        <a href="/cellOne">
            <i class="fa fa-dashboard"></i> <span>Cell One</span>
        </a>
    </li>
<!-- need to delete start -->    
 
    <li class="active">
        <a href="/cellTwo">
            <i class="fa fa-dashboard"></i> <span>Cell Two</span>
        </a>
    </li>
<!-- need to delete end -->
    <li class="active">
        <a href="/cellThree">
            <i class="fa fa-dashboard"></i> <span>Cell Three</span>
        </a>
    </li>
</ul>